<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6eb5d340-479e-4679-b054-daf9983c4d52/resourceGroups/cloud-shell-storage-centralindia/providers/Microsoft.Web/sites/RazorApp</ResourceId>
    <ResourceGroup>cloud-shell-storage-centralindia</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://razorapp.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://razorapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$RazorApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>