@page
@model RazorApp.Pages.Forms.GenericAddModel
@{
    ViewData["Title"] = "GenericAdd";
}

<h1>AddEmployee</h1>
<form method="post">
    <input type="number" asp-for="Employee.EmpId" />
    <input type="text" asp-for="Employee.EmpName" />
    <input type="text" asp-for="Employee.EmpLastName" />
    <input type="text" asp-for="Employee.EmpDepartment" />
    <button type="submit">Submit</button>
</form>